@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
background: black none repeat scroll 0 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif;color:#222}
body{margin:0;font-size:1em;line-height:1.4;background-color:black;}::-moz-selection{background:none;color:#fff;text-shadow:none}::selection{background:none;color:#fff;text-shadow:none}
a{color:#00e}
a:visited{color:#551a8b}
a:hover{color:#06e}
a:focus{outline:0}
a:hover,a:active{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000;font-style:italic;font-weight:700}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left:-7px;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:valid,textarea:valid{}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}@media only screen and (min-width:35em){}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0}.ir br{display:none}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff}

#sb-container{position:fixed;margin:0;padding:0;top:198px;left:0;z-index:999;text-align:left;visibility:hidden;display:none}

#sb-overlay{position:relative;height:100%;width:100%;}

#sb-wrapper{
	position:absolute;visibility:hidden;width:100px;min-width:727px;top: 25px !important;
	left: 0 !important;
	right:0 !important;
    margin: 0 auto !important;
}

#sb-wrapper-inner{position:relative;border:1px solid #737373;overflow:hidden;height:100px;padding:5px;background:#000}#sb-body{position:relative;height:100%}#sb-body-inner{position:absolute;height:100%;width:100%}#sb-player.html{height:100%;overflow:auto}#sb-body img{border:none}#sb-loading{position:relative;height:100%}#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;min-height:420px}#sb-loading-inner span{background:url(../img/loading.gif) no-repeat;padding-left:34px;display:inline-block}#sb-body,#sb-loading{background-color:#060606}#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden}#sb-title,#sb-title-inner{height:26px;line-height:26px;visibility:hidden}#sb-title-inner{font-size:16px}#sb-info,#sb-info-inner{height:20px;line-height:20px}#sb-info-inner{font-size:12px}#sb-nav{width:100%;position:relative;bottom:280px}#sb-nav a{display:block;float:right;height:98px;width:56px;margin-left:3px;cursor:pointer}

#sb-nav-close{
    background: rgba(0, 0, 0, 0) url("../img/red-arrow-left.png") no-repeat scroll left center;
    cursor: pointer;
    font-size: 19px;
    height: 24px !important;
    left: -2px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 155px !important;
    z-index: 100;
	color:#e2e2e2;
    font-family: 'proxima_nova_rgregular';
}

	#sb-nav-next{
	background:url(../images/aright.png) no-repeat center center;position:absolute;right:-140px;top:-40px;height:150px !important;width:110px !important
	}
	
	#sb-nav-previous{
		background:url(../images/aleft.png) no-repeat center center;position:absolute;left:-140px;top:-40px;height:150px !important;width:110px !important
	}
	
	#sb-nav-play{background-image:url(../img/play.png)}
	
	#sb-nav-pause{background-image:url(../img/pause.png)}
	#sb-counter{width:45%;position:relative;bottom:26px;left:6px;overflow:hidden;height:21px}
	#sb-counter a{padding:1px 5px 4px 5px;text-decoration:none;cursor:pointer;color:#383838;background:#000;position:relative;top:0}
	#sb-counter a:hover{color:#fff}#sb-counter a.sb-counter-current{color:#fff}div.sb-message{font-size:12px;padding:10px;text-align:center}
	div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline}
	
	#custom-container{border-bottom:1px solid #737373;min-height:57px;position:relative;bottom:10px}
	#custom-container #employer{width:125px;float:left;padding:5px 10px}
	#custom-container #employer #agency{text-transform:uppercase;font-size:14px}
	#custom-container #employer #city{font-size:12px}

#custom-container #caption{width:440px;float:left;font-size:12px;font-family:Arial,Helvetica,sans-serif;padding:5px 10px;margin-bottom:10px;border-left:1px solid #737373}

#custom-container #category{float:right;border:1px solid #737373;text-transform:uppercase;font-size:12px;padding:0 2px;position:relative;top:8px}

img.mimg{
    display: block;
    margin: 0 auto ;
    text-align: center;
	padding-bottom:3px;
}

.hinfo{
    color: #cecece;
    font-family: "proxima_nova_rgregular";
    font-size: 13px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

header nav{
    border-bottom: 1px solid #e5e5e5;
    margin: 10px auto 0;
    padding-bottom: 8px;
    width: 56%;
	position:relative;

}

nav ul li{
    border-right: 1px solid #e5e5e5;
    display: inline-block;
    line-height: 13px;
    padding-left: 9px;
    padding-right: 10px;
}

nav ul li a{
    color: #cecece;
    font-family: "proxima_nova_rgregular";
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
	transition: all 0.4s ease-in-out 0s;
	}

nav ul li a:hover{color:#cc0000;transition: all 0.4s ease-in-out 0s;}

nav ul li.active{background:none}

nav ul li.active a, nav ul li.pact a{color:red}  

nav ul li.first{position:relative;}

nav ul li.last{
    border-right: medium none;
    position: relative;
}

.headinfo{
    clear: both;
    color: #cecece;
    font-family: "proxima_nova_rgregular";
    font-size: 18px;
    font-weight: 500;
    padding: 27px 0 1px;
    text-align: center;
}

.headinfo h3{
    color: #e5e5e5;
    font-family: "proxima_nova_rgregular";
    font-size: 31px;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 36px;
    margin: 9px auto;
    width: 76%;
} 

#slides{
	height:661px!important;
	margin: 0 auto;
}

.slidesjs-container{
    border: 2px solid #a3a3a3;
    height: 532px !important;
    margin: 7px auto;
    overflow: hidden;
    padding: 10px;
    width: 905px !important;
}

.slidesjs-slide img{
	width:905px;
}

.slidesjs-control li{
	list-style:none;
}

.slidesjs-pagination {
    float: none;
    list-style: outside none none;
    margin: 0 auto;
    padding: 2px 0 9px;
    text-align: center;
}

.slidesjs-pagination li {
    display: inline-block!important;
    float: none;
    margin: 0 5px;
    text-align: center;
}

#slides a:link, #slides a:visited {
    color: #333;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a.active:hover {
    background-position: 0 -13px;
}

.slidesjs-control{
	width:auto!important;
	height:auto!important;
}

.slidesjs-pagination li a {
    background-image: url("../images/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 13px;
    width: 13px;
}

#sb-wrapper{
	min-width:900px;
}

#sb-wrapper.showreels{
    margin-top: -37px;
	top:0px!Important;
}

#sb-body-inner img#sb-player{
    display: block;
    margin: 0 auto;
    text-align: center;
	position:relative!important;
}

#sb-wrapper.whatido-modal, #sb-wrapper.temp1-modal{
	min-width: 900px;
}

#sb-wrapper.contact-modal{
    width: 380px!important;
    min-width: 380px;
	top:100px!important;
	left: 40% !important;
	margin-left:0!Important;
}

.contact-modal #next-project{
	display:none;
}

.whatido-modal #sb-nav, .temp1-modal #sb-nav, .contact-modal #sb-nav {
	display:none;
}

.temp1-modal.showreels #sb-nav{
	display:block;
}

.showreels #sb-nav a#sb-nav-next{
	display:block!important;
	top: -330px;
}

.showreels #sb-nav a#sb-nav-previous{
	display:block!important;
	top: -330px;
}

.showreels iframe{
	border: 1px solid #737373;
	padding:8px;
} 
 
.mwrap{
    font-family: 'proxima_nova_rgregular';
	width:100%;
	line-height: 19px;
}

.whatido-modal #sb-wrapper-inner, .temp1-modal #sb-wrapper-inner{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.whatido-modal #next-project, .temp1-modal #next-project{
	display:none;
}

.showreels #sb-nav-close{
	display:none;
}

.whatido-modal #sb-body img {
    border: medium none;
    max-width: 100%;
}

.whatido-modal #sb-body, .whatido-modal #sb-loading, .temp1-modal #sb-body, .temp1-modal #sb-loading {
    background-color: transparent;
}

.bioinfo{
	height: 348px;
    overflow: auto;
}


.whatido-modal .bioinfo{
    height: 362px;
    padding-bottom: 8px;
}

.mwrap hr{
	 margin-top:0;
}

.msocial{

}

.msocial h4{
    margin-bottom: 12px;
}

.msocial img{
    margin-bottom: 10px;
    margin-right: 9px;
	width: 48px;
}
 
.whatido-modal #custom-container, .temp1-modal #custom-container{
	display:none;
}

.temp1-modal .mwrap #custom-container {
	display:block;
	padding-top:28px;
}

.temp1-modal .mwrap #custom-container #employer{
  color:white;
  font-weight:bold;
}

.temp1-modal .mwrap #custom-container #caption{
  width: 70%;
}

.msocial img.socion{
    margin: 2px 6px;
	width:24px;
}

.temp1-modal .mwrap, .temp1-modal .mwrap p {
	color:#a5a5a5;
}

.bsocial{
    color: #a5a5a5;
    font-family: "proxima_novasemibold";
    font-size: 15px;
}

.bsocial img{
    margin-left: 10px;
    margin-right: 11px;
    margin-top: -3px;
}

.sreels{
    font-size: 20px;
    text-align: center;
}

.sreels ul{
    display: inline-block;
    margin: 8px 0 20px;
    padding: 0;
    width: 100%;
}

.showreels .sreels li {
    float: none;
    padding: 0 2%;
}

.showreels .sreels li a{
	color:white;
}

.sreels li{
    border-right: 1px solid #6b6b6b;
    display: inline;
    float: left;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 6px;
    padding: 0 1.55%;
    text-align: center;
    width: 30.66%;
}

.sreels li:last-child{
    border: medium none;
    padding-right: 0;
}

.sreels a{
    font-size: 19px;
    letter-spacing: 1px;
	color:#cecece;
	font-family: 'proxima_novasemibold';
}

.sreels img{
    float: left;
	margin: 0 1.6%;
    width: 30.66%;
}

.sreels img.last{
    margin-right: 0;
}

#work #workToggle{padding-bottom:5px}
#work #workToggle ul{list-style:none;padding:0;margin:-1px 0 4px}
#work #workToggle ul li{float:left;padding:0 10px;line-height:16px}
#work #workToggle ul li.first{border-right:1px solid #f0f0f1;padding-left:0}

#work #workToggle ul li a{
font-family: 'proxima_nova_rgregular';
color:#383838;
font-size:18px;
}

#work #workToggle ul li a:hover{color:#f0f0f1;cursor:pointer}
#work #workToggle ul li.active a{color:#f0f0f1}
#work #workContainer{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height:690px;margin-top: 5px;}
#work #workContainer #filter{width:103px;float:left}
#work #workContainer #filter ul{list-style:none;padding:0;margin-top:6px}
#work #workContainer #filter ul li a{display:block;padding-left:10px;position:relative;right:10px;font-size:17px;top:2px;font-family: 'proxima_nova_rgregular';color:white;}
#work #workContainer #filter ul li a:hover{color:#f0f0f1}
#work #workContainer #filter ul li ul{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    line-height: 18px;
    margin: 7px 0;
    padding: 4px 0 6px;
	}
#work #workContainer #filter ul li ul li a{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #cecece;
    font-family: "proxima_nova_rgregular";
    font-size: 12px;
    top: 0;
	}
#work #workContainer #filter ul li ul li a.active{color:red}
#work #workContainer #filter ul li ul li a:hover{color:red;}
#work #workContainer #scrollContainer{height:640px;overflow-x:hidden;padding-top:31px;}
#work #workContainer #workGrid{float:left;width:970px;padding:0 17px;opacity:0}
#work #workContainer #workGrid .item-container{
    margin: 0 2px;
    padding: 5px;

	}
#work #workContainer #workGrid .item-container img{
    width: 227px;
	height:133px;
}
	
#work #workContainer #workGrid .item-container a{position:relative}
#work #workContainer #workGrid .item-container p{
    border: 2px solid #900;
    display: none;
    height: 132px;
    left: -1px;
    margin: 0;
    position: absolute;
    top: -58px;
    width: 227px;
    z-index: 2;
	}
#work #workContainer #workGrid .item-container p.hover{display:block}#work #workContainer #workGrid .item-container .entries{display:none}
#work #workContainer #workGrid .item-container .details{font-size:11px;text-transform:uppercase;padding-top:1px;font-family: "proxima_nova_rgregular";height:16px;}
#work #workContainer #workGrid .item-container .details .client{float:left;color:white;font-family: "proxima_nova_rgregular";}
#work #workContainer #workGrid .item-container .details .medium{float:right;color:#4f4f50;font-size:10px;font-family: "proxima_nova_rgregular";}
#work #workContainer #awards{display:none;margin:40px auto;width:640px;padding-left:140px}
#work #workContainer #awards #awardsContainer{padding-left:67px;padding-bottom:20px}
#work #workContainer #awards #awardsContainer h2{
    color: white;
    font-family: "proxima_nova_rgregular";
    font-size: 25px;
    font-weight: normal;
    margin: 0;
	}
#work #workContainer #awards #awardsContainer p{font-size:10px;font-family: "proxima_nova_rgregular";margin:0;width:345px}
#work #workContainer #awards #awardsContainer img{position:relative;right:97px;top:35px;padding-bottom:35px}
#work #workContainer #awards .yearContainer .col-left{width:50px;height:200px;float:left;position:relative;border-right:1px solid red}
#work #workContainer #awards .yearContainer .col-left .year{text-align:right;position:absolute;bottom:12px;right:0;font-size:13px;font-family:Arial,Helvetica,sans-serif;padding-right:10px;margin-right:5px;background:url(../img/grey-arrow-left.png) no-repeat right center}
#work #workContainer #awards .yearContainer .col-right{width:489px;float:left}
#work #workContainer #awards .yearContainer .col-right ul{list-style:none;padding:0 0 10px;margin:0}
#work #workContainer #awards .yearContainer .col-right ul li{padding-left:10px;margin-left:5px;background:url(../img/grey-arrow-right.png) no-repeat left center}
#work #workContainer #awards .yearContainer .col-right ul li strong{font-size:14px;font-family:Arial,Helvetica,sans-serif}
#work #workContainer #awards .yearContainer .col-right ul li em{font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#AAA}
#work #workContainer #awards .yearContainer.first .col-right ul{position:relative;bottom:10px;padding-bottom:0}
#work #workContainer #awards .yearContainer.first .col-left .year{bottom:12px}
.isotope-item{z-index:2}.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform,opacity}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
.isotope-item{z-index:2}.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
#feature .divider{width:325px;height:2px;background:#757575;margin:0 auto}
#feature span{text-align:center;display:block;font-size:14px;text-transform:uppercase;margin-top:30px;opacity:.99}
#feature #headline{width:545px;height:66px;text-align:center;margin:0 auto 23px}
#feature #headline h2{font-size:25px;margin:0;font-weight:400;opacity:.99;text-transform:uppercase;line-height:28px}
#feature #slider{width:960px;margin:0 auto;position:relative}
#feature #slider #image-container{width:735px;height:440px;border:solid 1px #e5e5e5;overflow:hidden;margin:0 auto}
#feature #slider #image-container ul{padding:0;margin:0;list-style:none;position:relative}
#feature #slider #image-container ul li{float:left}
#feature #slider #image-container ul li img{padding:10px}
#feature #slider #controlLeft{width:56px;height:98px;background:url(../img/nav-left.png);position:absolute;top:170px;left:0;cursor:pointer}
#feature #slider #controlRight{width:56px;height:98px;background:url(../img/nav-right.png);position:absolute;top:170px;right:0;cursor:pointer}
#work .mCustomScrollBox{height:630px!Important;}
.mCSB_container{width:auto;margin-right:30px;overflow:hidden}
.mCSB_container.mCS_no_scrollbar{margin-right:0}
.mCustomScrollBox .mCSB_scrollTools{width:16px;height:100%;top:5px;right:70px}
.mCSB_scrollTools .mCSB_draggerContainer{height:620px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mCSB_scrollTools .mCSB_buttonUp + .mCSB_draggerContainer{padding-bottom:40px}

.mCSB_scrollTools .mCSB_draggerRail{width:6px;height:622px;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #787878;border-left:2px solid #424242}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:35px}

.mwrap .mCSB_scrollTools .mCSB_dragger{height:35px!important}

.mwrap .mCSB_scrollTools .mCSB_draggerRail{
	height: 340px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px;height:100%;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{height:20px;overflow:hidden;margin:0 auto;cursor:pointer}.mCSB_scrollTools .mCSB_buttonDown{bottom:0;margin-top:-40px}
.mCSB_horizontal .mCSB_container{height:auto;margin-right:0;margin-bottom:30px;overflow:hidden}.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{margin-bottom:0}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{width:100%;height:16px;top:auto;right:auto;bottom:0;left:0;overflow:hidden}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{height:100%;width:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft + .mCSB_draggerContainer{padding-bottom:0;padding-right:20px}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{width:100%;height:2px;margin:7px 0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{width:30px;height:100%}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer;float:left}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{right:0;bottom:auto;margin-left:-40px;margin-top:-16px;float:right}.mCustomScrollBox .mCSB_scrollTools{opacity:1}.mCustomScrollBox:hover .mCSB_scrollTools{opacity:1}
.mCSB_scrollTools .mCSB_draggerRail{background:#1B1818;background:#1b1b1b}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#bfbfbf}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:#8C8C8C}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background:#8C8C8C}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{background-image:url(mCSB_buttons.png);background-repeat:no-repeat;opacity:1}
.mCSB_scrollTools .mCSB_buttonUp{background-position:0 0}.mCSB_scrollTools .mCSB_buttonDown{background-position:0 -20px}.mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -40px}
.mCSB_scrollTools .mCSB_buttonRight{background-position:0 -56px}
.mCSB_scrollTools .mCSB_buttonUp:hover,.mCSB_scrollTools .mCSB_buttonDown:hover,.mCSB_scrollTools .mCSB_buttonLeft:hover,.mCSB_scrollTools .mCSB_buttonRight:hover{opacity:.75;filter:"alpha(opacity=75)";-ms-filter:"alpha(opacity=75)"}
.mCSB_scrollTools .mCSB_buttonUp:active,.mCSB_scrollTools .mCSB_buttonDown:active,.mCSB_scrollTools .mCSB_buttonLeft:active,.mCSB_scrollTools .mCSB_buttonRight:active{opacity:.9;filter:"alpha(opacity=90)";-ms-filter:"alpha(opacity=90)"}
html{height:100%}body{background:black url("../img/background2.jpg") center center no-repeat fixed;font-family:'nobelregular',Helvetica,Arial,sans-serif;color:#a5a5a5;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}


#bfContainer .mCustomScrollBox .mCSB_scrollTools{
	right: -2px;
}

#bfContainer .mCSB_scrollTools .mCSB_draggerContainer{
	height:auto;
}

#wrapper{width:1185px;margin:0 auto;padding:0 25px;min-width:1185px;z-index: 100;position: relative;}

header{text-align:center;padding:27px 0 6px}

header h1{width:296px;height:30px;margin:0 auto 15px;text-indent:-9999px;background:url(../img/ryan_decarlo.png)}footer{width:100%;margin-top:5px}
footer span{text-transform:uppercase;color:#969696;font-size:14px;opacity:.99;font-family: 'proxima_nova_rgregular';}
footer.home{margin-left:127px}h1 a{color:#f1f1f2;font-size:36px;text-transform:uppercase;margin:45px 0 3px;opacity:1}h1 a:hover{color:#f1f1f2 !important}a,a:visited{color:#cecece;text-transform:uppercase;text-decoration:none;font-size:15px;opacity:.99}a:hover,a:visited:hover{color:red}.touch 
#wrapper{min-height:1280px}.touch #sb-overlay{min-width:1040px;min-height:1280px;top:0}.touch #sb-wrapper{top:20px !important}

header .logo{
    display: inline-block;
    margin: 16px auto 18px;
	width:auto;
}

.contact-modal #sb-title,.contact-modal #sb-counter,.contact-modal #custom-container,.about-modal #sb-title,.about-modal #sb-counter,.about-modal #custom-container{display:none}.contact-modal #sb-nav,.about-modal #sb-nav{bottom:120px}.contact-modal #sb-loading,.about-modal #sb-loading{position:absolute;left:-9999px}.contact-modal #sb-wrapper-inner,.about-modal #sb-wrapper-inner{border:none;background:none !important;overflow:visible}.contact-modal #sb-body,.about-modal #sb-body{background:none}.contact-modal #sb-body-inner,.about-modal #sb-body-inner{top:30px;opacity:0}.contact-modal #sb-player,.about-modal #sb-player{overflow:visible}.contact-modal #next-project,.about-modal #next-project{display:none}

#contact-container{
	font-family: "proxima_nova_rgregular";
    margin-left: -6px;
    padding-top: 5px;
    text-transform: uppercase;
    width: 395px;
	}

#contact-container hr{
	border-color:#adadad;
}
	
	
#contact-container p{color:red;border-bottom:1px solid #adadad;padding-bottom:12px}
#contact-container .column-container span{display:block;font-size:12px}
#contact-container .column-container .name{
    color: #e5e5e5;
    font-size: 19px;
    font-weight: 500;
}
#contact-container .column-container .title{
    color: #a5a5a5;
    font-size: 14px;
    padding-bottom: 10px;
}
#contact-container .column-container .web{
    clear: left;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 21px;
}
#contact-container .column-container .email a{
    color: #e2e2e2;
    float: left;
    font-size: 15px;
    margin-bottom: 9px;
    margin-top: 4px;
}
#contact-container .column-container .contact-img{background:url(../images/mail.png) center center no-repeat;width:127px;height:82px;position:relative;top:0;left:38px}
#contact-container .column-container .left-col{float:left;width:210px}
#contact-container .column-container .right-col{float:right;width:165px;background:url(../img/mail-divider.png) 3px 18px no-repeat}
#about-container{width:490px;text-transform:uppercase;margin-left:5px}
#about-container .bio{font-family:arial,sans-serif;padding-top:2px;font-size:14px;color:#e2e2e2;text-transform:none}
#about-container .column-container{padding-bottom:10px;border-bottom:1px solid #757575}
#about-container .column-container .img-container{width:345px;height:205px;background:grey}
#about-container .column-container .left-col{float:left;width:345px}
#about-container .column-container .right-col{float:right;width:103px}
#about-container .column-container .right-col span{font-size:16px;color:red;position:relative;bottom:5px}
#about-container .column-container .right-col ul{padding:0;margin:0}#about-container .column-container .right-col ul li{background:url(../img/arrow-left.png) no-repeat left center;font-size:11px;color:#e2e2e2;list-style:none;line-height:21px;padding-left:10px}#about-container .column-container .right-col .linkedin{padding-top:12px;display:block;width:51px;height:51px;background:url(../img/linkedin.png) no-repeat center center}#next-project{position:absolute;right:0;top:0;cursor:pointer;padding-right:8px;background:url(../img/red-arrow-right.png) no-repeat center right}
#next-project a{
    font-family: "proxima_nova_rgregular";
    font-size: 19px;
} 
#next-overlay{position:absolute;top:0;
bottom:0;
/* background:url(../img/loading.gif) center center no-repeat black; */ 
opacity:.95;display:none;z-index:2}

.promoted-item:after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: white;
    content: "NEW";
    font-size: 12px;
    font-weight: normal;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    transition: opacity 0.5s ease 0s;
    z-index: 2;
}

.promoted-fadein:after {
	opacity: 1;
}

.loader-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
	opacity: 1;
}

.imagesLoaded .loader-container {
	opacity: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #FBFBFB;
  top: 50%;
  -webkit-animation: loader 4s infinite ease;
  -moz-animation: loader 4s infinite ease;
  animation: loader 4s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FBFBFB;
  -webkit-animation: loader-inner 4s infinite ease-in;
  -moz-animation: loader-inner 4s infinite ease-in;
  animation: loader-inner 4s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}